{% extends "layout.html" %}
{% block stylesheets %}
<link href="{{ STATIC_URL }}css/jobs.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div id="jobs">
    {% for category in categories %}
      <div class="category_{{category.id}}">
         <div class="category">
            <div class="feed">
               <a href="">Feed</a>
            </div>
         </div>
         <h1>
            <a href="">
               {{ category.name }}
            </a>
         </h1>
         Job List
       </div>
      {% comment %}
      {% #if category.activeJobsAmount > jobsLimit %}
      <div class="more_jobs">
        and 
      <a href="">
        {{ #category.activeJobsAmount - jobsLimit }}
      </a>
        more...
      </div>
     {% endif %}
     {% endcomment %}
  {% endfor %}  
</div>
{% endblock %}

